<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<div class="card ">
    <ul>Spring Boot Topics</ul>
    <ol class="list-group-item">
       <li><a href="#">Introduction</a> </li>
        <li><a href="#">Overview</a> </li>
        <li><a href="#">Pre Requirements</a> </li>
        <li><a href="#">Course Outline</a> </li>
        <li><a href="#">First Spring Boot Project</a> </li>
        <li><a href="#">Spring Boot Directory Structure</a> </li>
        <li><a href="#">Pom.xml File</a> </li>
        <li><a href="#">Application.properties File</a> </li>
        <li><a href="#">RestControllers</a> </li>
        <li><a href="#">Dependencies</a> </li>
        <li><a href="#">Thymeleaf Template Engine</a> </li>
        <li><a href="#">Spring MySql Connection</a> </li>

    </ol>

</div>



</body>
</html>